
    $primary-text-color: #757575;
    $primary-title-color: #212121;
    $accent-color: #2F303A;
    $logo-text-blue: #2196F3;
    $logo-text-black: #000000;
    $link-active-color: #2196F3;
    $hero-title-color: #FFFFFF;
    $hero-background-color: #2F303A;
    $body-backgroud-color: #FFFFFF;
    $team-background-color: #F5F4FA;
    $footer-background-color: #2F303A;
    $icons-grey-regular: #AFB1B8;
    $transition--250ms: 250ms;
    $cubic-bezier--: cubic-bezier(0.4, 0, 0.2, 1);

        // breakpoints
        $phone: 480px;
        $tablet: 768px;
        $desktop: 1140px;